<div class="barOption menu">
	<div class = "barText menu">
	Blog
	</div>
	<div class = "barHighlight menu color4">
	</div>
</div>
<div class="barOption menu">
	<div class = "barText menu">
	Research
	</div>
	<div class = "barHighlight menu color3">
	</div>
</div>
<div class="barOption menu">
	<div class = "barText menu">
	Projects
	</div>
	<div class = "barHighlight menu color2">
	</div>
</div>
<div class="barOption menu">
	<div class = "barText menu">
	Home
	</div>
	<div class = "barHighlight menu color1">
	</div>
</div>