<div class="barOption menu">
	<div class = "barText menu">
	Data
	</div>
	<a href="/Data"><span></span></a>
</div>
<div class="barOption menu">
	<div class = "barText menu">
	Research
	</div>
	<a href="/Research"><span></span></a>
</div>
<div class="barOption menu">
	<div class = "barText menu">
	Projects
	</div>
	<a href="/Projects"><span></span></a>
</div>
<div class="barOption menu">
	<div class = "barText menu">
	Home
	</div>
	<a href="/"><span></span></a>
</div>
