<div class="barOption menu">
	<div class = "barText menu">
	Blog
	</div>
	<div class = "barHighlight menu color4">
	</div>
	<a href="/Blog"><span></span></a>
</div>
<div class="barOption menu">
	<div class = "barText menu">
	Research
	</div>
	<div class = "barHighlight menu color3">
	</div>
	<a href="/Research"><span></span></a>
</div>
<div class="barOption menu">
	<div class = "barText menu">
	Projects
	</div>
	<div class = "barHighlight menu color2">
	</div>
	<a href="/Projects"><span></span></a>
</div>
<div class="barOption menu">
	<div class = "barText menu">
	Home
	</div>
	<div class = "barHighlight menu color1">
	</div>
	<a href="/"><span></span></a>
</div>