<!DOCTYPE html>
<html lang = "en">

<body>
<form id="createPost" method="post">
Title: <input type="text" name="title"> <br>
Text: <input type="text" name="text"> <br>
Date: <input type="text" name="date"> <br>
Post id: <input type="text" name="post_id"> <br>
Github: <input type="text" name="github"> <br>
Link: <input type="text" name="link"> <br>
Image path: <input type="text" name="image_path"> <br>
Category: <input type="text" name="category"> <br>
<input type="submit" value="Submit"></input>
</form>
</body>

</html>