<!DOCTYPE html>
<html lang = "en">

<head>
<% include partials/head %>
</head>

<body class="bg">
<% include partials/header %>
<div class = "largeText">
Lawrence Pang
</div>
<div class = "subText">
	<div id = "github" class = "linkDiv">
	<div class = "hex">
	GitHub
	<a href="https://github.com/lpang36" class = "icon"><span></span><i class="fa fa-github" aria-hidden="true"></i></a>
	</div>
	</div>
	<div id = "facebook" class = "linkDiv">
	<div class = "hex">
	Facebook
	<a href="https://www.facebook.com/lawrencepang36" class = "icon"><span></span><i class="fa fa-facebook" aria-hidden="true"></i></a>
	</div>
	</div>
	<div id = "linkedin" class = "linkDiv">
	<div class = "hex">
	LinkedIn
	<a href="https://www.linkedin.com/in/lawrence-p-772099104/" class = "icon"><span></span><i class="fa fa-linkedin" aria-hidden="true"></i></a>
	</div>
	</div>
	<div id = "resume" class = "linkDiv">
	<div class = "hex">
	Résumé
	<a href="/static/other/resume.pdf" class = "icon"><span></span><i class="fa fa-file" aria-hidden="true"></i></a>
	</div>
	</div>
</div>
<div class="detail">
Roots of polynomials with integer coefficients in the complex plane. Sourced from John Baez and Dan Christensen.
</div>
</body>

</html>