<!DOCTYPE html>
<html lang = "en">

<head>
<% include partials/head %>
</head>

<body>
<div class="bg">
<% include partials/header %>
<div class = "largeText">
Lawrence Pang
</div>
<div class = "subText">
	<div id = "github">
	<div class = "hex linkDiv">
	GitHub
	<a href="https://github.com/lpang36" class = "icon"><img src="/static/images/github.png"></a>
	</div>
	</div>
	<div id = "facebook">
	<div class = "hex linkDiv">
	Facebook
	<a href="https://www.facebook.com/lawrencepang36" class = "icon"><img src="/static/images/facebook.png"></a>
	</div>
	</div>
	<div id = "linkedin">
	<div class = "hex linkDiv">
	LinkedIn
	<a href="https://www.linkedin.com/in/lawrence-p-772099104/" class = "icon"><img src="/static/images/linkedin.png"></a>
	</div>
	</div>
	<div id = "resume">
	<div class = "hex linkDiv">
	Resume
	<a href="/static/other/resume.pdf" class = "icon"><img src="/static/images/document.png"></a>
	</div>
	</div>
</div>
<div class="detail">
Roots of polynomials with integer coefficients in the complex plane. Sourced from John Baez and Dan Christensen.
</div>
</div>
</body>

</html>