<!DOCTYPE html>
<html lang = "en">

<head>
<% include partials/head %>
</head>

<body>
<div class="bg">
<% include partials/header %>
<img src="http://www.101greatgoals.com/wp-content/uploads/2014/11/there-is-no-need-to-be-upset.png">
<div>
</body>

</html>