.hex:before {
	border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 80px solid #ffffff;
    left: -80px;
}

.hex {
	height: 180px;
	padding: 10px;
	margin: auto;
}

.hex:after {
    right: -80px;
    border-top: 100px solid transparent;
    border-left: 80px solid #ffffff;
    border-bottom: 100px solid transparent;
}

.category {
	font-size: 50px;
	position: relative;
	top: 15%;
	color: #ffffff;
}

.post {
	opacity: 0.5;
	width: 80%;
}

.post:hover {
	opacity: 1;
}

.text {
	position: absolute;
	width: calc(100% - 180px);
}

.title {
	font-size: 20px;
}

.blurb {
	font-size: 15px;
}

.featuredImage {
	border-radius: 50%;
	width: auto;
	height: 180px;
}

.featuredImageContainer {
	height: 180px;
	margin-left: calc(100% - 180px);
}

.icon {
	height: 20px;
	width: 20px;
}